version: '3.8'

services:
  backend:
    container_name: aegisfa-backend
    build:
      context: ../backend
      dockerfile: Dockerfile
    volumes:
      - ../:/workspaces:cached
    command: sleep infinity
    depends_on:
      - db
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/postgres
    networks:
      - app-network

  frontend:
    container_name: aegisfa-frontend
    build:
      context: ../frontend
      dockerfile: Dockerfile
    volumes:
      - ../frontend:/app:cached
    command: npm start
    ports:
      - "3000:3000"
    depends_on:
      - backend
    networks:
      - app-network

  db:
    container_name: aegisfa-database 
    image: postgres:latest
    restart: unless-stopped
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
      POSTGRES_PASSWORD: postgres
    networks:
      - app-network

volumes:
  postgres-data:

networks:
  app-network:
    driver: bridge